services:
  php:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: pos_php
    volumes:
      - ./:/var/www
    depends_on:
      - database

  nginx:
    image: nginx:1.27-alpine
    container_name: pos_nginx
    ports:
      - "8080:80"
    volumes:
      - ./:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php

  database:
    image: mysql:8.4
    container_name: pos_db
    environment:
      MYSQL_DATABASE: pos
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: pos
      MYSQL_PASSWORD: pos
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - "3306:3306"

volumes:
  mysql_data: